In [11]:
import os, sys
basepath = "/home/dreuter/Github/kaggle-paths"
scriptpath = os.path.join(basepath,'mysql','query')
os.chdir(scriptpath)
print(os.getcwd())

credpath = os.path.join(basepath,"mysql",".cred")
sys.path.append(credpath)
import rcred

/home/dreuter/Github/kaggle-paths/mysql/query

In [12]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

# ====== Connection ====== #
# Connecting to mysql by providing a sqlachemy engine
sqlengine = create_engine(
    'mysql+pymysql://{user}:{pw}@{host}/{db}'.format(user = rcred.user, 
                                                            pw = rcred.passwd, 
                                                            host = rcred.host, 
                                                            db = rcred.db), 
                                                            pool_recycle=3600)
sqlconnect = sqlengine.connect()

In [13]:
# ====== Reading table ====== #
# Reading Mysql table into a pandas DataFrame
sqltable = "offense_codes"
df = pd.read_sql('SELECT * FROM {table}'.format(table = sqltable), sqlconnect)
sqlconnect.close()
df.head()

   index  CODE                                     NAME
0      0   612         LARCENY PURSE SNATCH - NO FORCE
1      1   613                      LARCENY SHOPLIFTING
2      2   615  LARCENY THEFT OF MV PARTS & ACCESSORIES
3      3  1731                                   INCEST
4      4  3111                LICENSE PREMISE VIOLATION

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 3 columns):
index    576 non-null int64
CODE     576 non-null int64
NAME     576 non-null object
dtypes: int64(2), object(1)
memory usage: 13.6+ KB