In [0]:
# Change directory to VSCode workspace root so that relative path loads work correctly. Turn this addition off with the DataScience.changeDirOnImportExport setting
# ms-python.python added
import os
try:
	os.chdir(os.path.join(os.getcwd(), '../..'))
	print(os.getcwd())
except:
	pass

In [1]:
import os, sys
basepath = "/home/dreuter/Github/kaggle-paths"
scriptpath = os.path.join(basepath,'mysql','query')
os.chdir(scriptpath)
print(os.getcwd())

credpath = os.path.join(scriptpath,'..',"cred")
sys.path.append(credpath)
import rcred

/home/dreuter/Github/kaggle-paths/mysql/query

In [2]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

# ====== Connection ====== #
# Connecting to mysql by providing a sqlachemy engine
sqlengine = create_engine('mysql+mysqlconnector://%s:%s@%s/%s'%(rcred.user,rcred.password,rcred.host,rcred.db), pool_recycle=3600)
sqlconnect = sqlengine.connect()

In [3]:
# ====== Reading table ====== #
# Reading Mysql table into a pandas DataFrame
sqltable = "bitstampUSD"
df = pd.read_sql('SELECT * FROM {table}'.format(table = sqltable), sqlconnect)
sqlconnect.close()

In [4]:
df.head()

,index,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3997697 entries, 0 to 3997696
Data columns (total 9 columns):
index                int64
Timestamp            int64
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume_(BTC)         float64
Volume_(Currency)    float64
Weighted_Price       float64
dtypes: float64(7), int64(2)
memory usage: 274.5 MB